version: 2.1

orbs:
  windows: circleci/windows@5.0

jobs:
  build-sela-viewer-windows:
    executor:
      name: windows/default
      size: large
    
    steps:
      - checkout
      
      - run:
          name: تثبيت Python
          command: |
            choco install python --version 3.10.0 -y --force
            refreshenv
      
      - run:
          name: تثبيت Autobuild
          command: |
            python -m pip install --upgrade pip
            pip install autobuild
      
      - run:
          name: استنساخ Firestorm
          command: |
            git clone --depth 1 https://github.com/FirestormViewer/phoenix-firestorm.git firestorm
      
      - run:
          name: تحميل ملف المتغيرات
          command: |
            git clone --depth 1 https://github.com/FirestormViewer/fs-build-variables.git build-variables
            $env:AUTOBUILD_VARIABLES_FILE = "$PWD\build-variables\variables"
            echo "AUTOBUILD_VARIABLES_FILE=$PWD\build-variables\variables" | Out-File -Append $env:GITHUB_ENV
      
      - run:
          name: نسخ ملفات دعم العربية
          command: |
            Copy-Item llarabicsupport.h firestorm\indra\llui\ -ErrorAction SilentlyContinue
            Copy-Item llarabicsupport.cpp firestorm\indra\llui\ -ErrorAction SilentlyContinue
            Copy-Item Arabic.cmake firestorm\indra\cmake\ -ErrorAction SilentlyContinue
      
      - run:
          name: تحميل الخط العربي
          command: |
            New-Item -ItemType Directory -Force -Path firestorm\indra\newview\skins\default\fonts
            Invoke-WebRequest -Uri "https://github.com/googlefonts/noto-fonts/raw/main/hinted/ttf/NotoSansArabic/NotoSansArabic-Regular.ttf" -OutFile firestorm\indra\newview\skins\default\fonts\NotoSansArabic-Regular.ttf
      
      - run:
          name: نسخ ملفات التخصيص
          command: |
            # نسخ الأيقونة
            Copy-Item sela_icon.png firestorm\indra\newview\icons\default\viewer_icon.png -ErrorAction SilentlyContinue
            
            # نسخ شاشة البداية
            Copy-Item sela_splash.png firestorm\indra\newview\skins\default\textures\startup_logo.png -ErrorAction SilentlyContinue
            
            # نسخ ملفات XML المخصصة
            Copy-Item floater_about.xml firestorm\indra\newview\skins\default\xui\en\floater_about.xml -Force
            Copy-Item panel_login.xml firestorm\indra\newview\skins\default\xui\en\panel_login.xml -Force
            Copy-Item strings.xml firestorm\indra\newview\skins\default\xui\en\strings.xml -Force
      
      - run:
          name: تعديل CMakeLists
          command: |
            cd firestorm
            if (Test-Path "indra\llui\CMakeLists.txt") {
              $content = Get-Content "indra\llui\CMakeLists.txt" -Raw
              if ($content -notmatch "include\(Arabic\)") {
                $content = "include(Arabic)`n" + $content
                Set-Content "indra\llui\CMakeLists.txt" $content
              }
            }
      
      - run:
          name: البناء
          command: |
            cd firestorm
            $env:AUTOBUILD_VARIABLES_FILE = "$PWD\..\build-variables\variables"
            autobuild build -A 64 -c ReleaseFS_open
          no_output_timeout: 5h
      
      - run:
          name: تجميع الملفات
          command: |
            New-Item -ItemType Directory -Force -Path artifacts
            Compress-Archive -Path firestorm\build-vc*-64\newview\Release\* -DestinationPath artifacts\Sela-Viewer-Windows-x64.zip
            
            # إنشاء ملف README
            @"
Sela Viewer 1.0.0
=================

أول فيور احترافي يدعم اللغة العربية بشكل كامل

المطور: شركة أيادينا المدعة
البريد: team@ourchands.com
الموقع: www.ourchands.com

التثبيت:
---------
1. فك ضغط الملف
2. شغّل SelaViewer.exe
3. استمتع!

المتطلبات:
----------
- Windows 10/11 (64-bit)
- 4 GB RAM (8 GB موصى به)
- بطاقة رسومات تدعم OpenGL 3.0

الترخيص: LGPL-2.1
الكود المصدري: https://github.com/ourchands/sela-viewer

---
This viewer is not provided or supported by Linden Lab.
Based on Firestorm Viewer © 2010-2026
"@ | Out-File -FilePath artifacts\README.txt -Encoding UTF8
      
      - store_artifacts:
          path: artifacts
          destination: sela-viewer

workflows:
  build-and-release:
    jobs:
      - build-sela-viewer-windows
