version: 2.1

orbs:
  windows: circleci/windows@5.0

jobs:
  build-sela-viewer-windows:
    executor:
      name: windows/default
      size: large
    
    steps:
      - checkout
      
      - run:
          name: Install Python
          command: |
            choco install python --version 3.10.0 -y --force
            refreshenv
      
      - run:
          name: Install Autobuild
          command: |
            python -m pip install --upgrade pip
            pip install autobuild
      
      - run:
          name: Clone Firestorm
          command: |
            git clone --depth 1 https://github.com/FirestormViewer/phoenix-firestorm.git firestorm
      
      - run:
          name: Load Variables File
          command: |
            git clone --depth 1 https://github.com/FirestormViewer/fs-build-variables.git build-variables
            $env:AUTOBUILD_VARIABLES_FILE = "$PWD\build-variables\variables"
            echo "AUTOBUILD_VARIABLES_FILE=$PWD\build-variables\variables" | Out-File -Append $env:GITHUB_ENV
      
      - run:
          name: Copy Arabic Support Files
          command: |
            Copy-Item llarabicsupport.h firestorm\indra\llui\ -ErrorAction SilentlyContinue
            Copy-Item llarabicsupport.cpp firestorm\indra\llui\ -ErrorAction SilentlyContinue
            Copy-Item Arabic.cmake firestorm\indra\cmake\ -ErrorAction SilentlyContinue
      
      - run:
          name: Download Arabic Font
          command: |
            New-Item -ItemType Directory -Force -Path firestorm\indra\newview\skins\default\fonts
            Invoke-WebRequest -Uri "https://github.com/googlefonts/noto-fonts/raw/main/hinted/ttf/NotoSansArabic/NotoSansArabic-Regular.ttf" -OutFile firestorm\indra\newview\skins\default\fonts\NotoSansArabic-Regular.ttf
      
      - run:
          name: Copy Customization Files
          command: |
            Copy-Item sela_icon.png firestorm\indra\newview\icons\default\viewer_icon.png -ErrorAction SilentlyContinue
            Copy-Item sela_splash.png firestorm\indra\newview\skins\default\textures\startup_logo.png -ErrorAction SilentlyContinue
            Copy-Item floater_about.xml firestorm\indra\newview\skins\default\xui\en\floater_about.xml -Force
            Copy-Item panel_login.xml firestorm\indra\newview\skins\default\xui\en\panel_login.xml -Force
            Copy-Item strings.xml firestorm\indra\newview\skins\default\xui\en\strings.xml -Force
      
      - run:
          name: Modify CMakeLists
          command: |
            cd firestorm
            if (Test-Path "indra\llui\CMakeLists.txt") {
              $content = Get-Content "indra\llui\CMakeLists.txt" -Raw
              if ($content -notmatch "include\(Arabic\)") {
                $content = "include(Arabic)`n" + $content
                Set-Content "indra\llui\CMakeLists.txt" $content
              }
            }
      
      - run:
          name: Build Project
          command: |
            cd firestorm
            $env:AUTOBUILD_VARIABLES_FILE = "$PWD\..\build-variables\variables"
            autobuild build -A 64 -c ReleaseFS_open
          no_output_timeout: 5h
      
      - run:
          name: Package Artifacts
          command: |
            New-Item -ItemType Directory -Force -Path artifacts
            Compress-Archive -Path firestorm\build-vc*-64\newview\Release\* -DestinationPath artifacts\Sela-Viewer-Windows-x64.zip
            "Sela Viewer 1.0.0" | Out-File -FilePath artifacts\README.txt -Encoding UTF8
            "=================" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "First professional viewer with full Arabic language support" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "Developer: Ourchands Company" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "Email: team@ourchands.com" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "Website: www.ourchands.com" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "Installation:" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "1. Extract the archive" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "2. Run SelaViewer.exe" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "3. Enjoy!" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "Requirements:" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "- Windows 10/11 (64-bit)" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "- 4 GB RAM (8 GB recommended)" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "- Graphics card with OpenGL 3.0 support" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "License: LGPL-2.1" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "Source Code: https://github.com/ourchands/sela-viewer" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "This viewer is not provided or supported by Linden Lab." | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
            "Based on Firestorm Viewer (c) 2010-2026" | Out-File -FilePath artifacts\README.txt -Encoding UTF8 -Append
      
      - store_artifacts:
          path: artifacts
          destination: sela-viewer

workflows:
  build-and-release:
    jobs:
      - build-sela-viewer-windows
